.imc {
  display: flex;
  width: 100%;
  height: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background: black;
  justify-content: center;
  align-items: center;
}

.img {
  display: flex;
  justify-content: center;
}
.img img {
  width: 300px;
  height: auto;
  margin-top: 1.5rem;
}

.input {
  position: relative;
}
