.imc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.imc__content {
  justify-content: center;
}

.imc__img img {
  width: auto;
  /* padding: 0 2rem; */
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  border-radius: 1rem;
}

.imc__forms {
  position: relative;
  height: 370px;
}

.imc__inputs {
  width: 100%;
  height: 300px;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
}

.imc__inputs h1 {
  font-size: var(--h1-font-size);
}

.imc__box {
  padding: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .imc {
    display: flex;
    justify-content: center;
  }

  .imc__content {
    display: flex;
    align-items: center;
  }

  .imc__forms {
    position: relative;
    left: -20px;
  }

  .imc__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
  }

  .imc__img img {
    width: 100%;
    height: 100%;
  }
}
